@keyframes upAndDown {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(0, 10px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translate(0, 10px);
  }
  80% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}

.container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--yellow);
  background-color: var(--blue);
  border: 2px solid var(--yellow);
  border-radius: 50%;
  box-shadow: 0 0 0px 5px var(--container-shadow);
  font-size: 4rem;
  cursor: pointer;
  animation: upAndDown 1750ms infinite;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 0 5px 10px var(--container-shadow);
    animation: none;
  }
}
