.container {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 100vw;
  background-color: var(--translucid);
  color: var(--white);
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    .navbarLinks {
      ul {
        display: flex;
        list-style: none;
        align-items: center;

        li {
          padding: 0 2.5rem;

          .links {
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            font-weight: 600;
            &:hover {
              color: var(--yellow);
            }
          }

          .loginButton {
            display: inline-block;
            padding: 0.5rem 0.75rem;
            color: var(--yellow);
            background-color: var(--blue);
            border: 2px solid var(--yellow);
            border-radius: 3px;
            box-shadow: 0 0 0px 5px var(--container-shadow);
            font-weight: 600;
            transition: all 300ms ease-in-out;

            &:hover {
              opacity: 0.85;
              box-shadow: 0 0 5px 10px var(--container-shadow);
            }
          }
        }
      }
    }
  }
}
